# Ignore build artifacts
*.o
*.ko
*.mod
*.mod.c
*.symvers
*.order
*.markers

# Ignore temporary files
*.tmp
*.swp
*.bak

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore log files
*.log

# Ignore other temporary files
*.tmp
*.temp
*.~*

# Ignore directories
/build/
/awesome-tensorflow-lite/

# Ignore TensorFlow Lite model files
mobilenet_v1_1.0_224_quant.tflite

# Ignore additional untracked files
*.o.d
*.cmd
labels_mobilenet_quant_v1_224.txt
